.container {
  position: relative;
}
.btn {
  background-color: #d9d9d9;
  gap: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.8rem;
  padding: 1rem;
  font-weight: 500;
  color: var(--brand-color);
}
.btn:hover {
  background-color: #e6e3e3;
}
.filter {
  position: absolute;
  right: 0;
  top: 4.6rem;
  background-color: var(--color-grey-0);
  border-radius: 0.5rem;
  width: 30rem;
  border: 1px solid #15151d56;
  box-shadow: 0px 7px 1px 3px #00000003;
  animation: fadein 0.4s ease-in-out;
}
.title {
  font-weight: 500;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value,
.field,
.action {
  padding: 2rem;
  font-size: 1.4rem;
}
.value,
.field {
  padding-top: 1rem;
}

.subtitle {
  font-weight: 500;
  color: var(--color-grey-400);
  margin-bottom: 1rem;
}

.bt {
  border-top: 1px solid var(--color-grey-200);
}

.field select,
.value select {
  width: 100%;
  outline: none;
  border: 1px solid var(--color-grey-200);
  background-color: var(--color-grey-50);
  border-radius: 5px;
  padding: 0.8rem;
}
.field select:focus,
.value select:focus {
  border-color: var(--brand-color);
}
.px2 {
  padding: 0 1.5rem;
}
.action {
  display: flex;
  justify-content: space-between;
}
.action .btn {
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: var(--color-grey-50);
}
.action .btn.apply {
  background-color: var(--brand-color);
  color: var(--color-grey-0);
}
.action .btn:hover {
  background-color: var(--color-grey-100);
}
.btn.apply:hover {
  background-color: #15151de6;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

/* dark-mode */
:global(:root.dark) .btn {
  background-color: transparent;
  border-color: #222;
  box-shadow: 0px 0px 5px #333;
  color: #d9d9d9;
}

:global(:root.dark) .btn:hover,
:global(:root.dark) .btn:focus {
  box-shadow: 0px 0px 5px #555;
}

:global(:root.dark) .filter {
  border-color: #222;
  color: #d9d9d9;
}
:global(:root.dark) .bt {
  border-color: #222;
}
:global(:root.dark) .subtitle {
  color: #d9d9d9b3;
}
:global(:root.dark) .apply {
  background-color: #111;
}
:global(:root.dark) .filter select {
  background-color: #111;
}
